*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 16px;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  background-color: var(--color-grey);
  color: var(--color-white);
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: inherit;
  line-height: 1;
}

svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  --h-padding: var(--space-lg);

  max-width: 1200px;
  margin: 0 auto;
  padding-left: var(--h-padding);
  padding-right: var(--h-padding);

  @media (max-width: 512px) {
    --h-padding: var(--space-md);
  }
}

.btn {
  padding: var(--space-sm) var(--space-md);
  border: 2px solid var(--color-primary-100);
  border-radius: 999px;
  color: var(--color-primary-90);
  letter-spacing: 0.02rem;
  font-size: var(--text-sm);
  font-weight: 600;
  transition: 0.2s background-color;

  &:hover, &:focus-visible {
    background-color: var(--color-primary-100-20);
  }
}
