*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p {
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: 500;
  font-size: inherit;
  line-height: 1;
}

svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

:target {
  scroll-margin-block: var(--space-lg);
}

html {
  --spacer-size: 1;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 20px;

  @media (width <= 1280px) {
    font-size: 18px;
  }

  @media (width <= 512px) {
    --spacer-size: 0.5;

    font-size: 14px;
  }

  @media (width >= 2560px) {
    --spacer-size: 2;

    font-size: 24px;
  }
}

body {
  min-height: 100vh;
  background-color: var(--color-grey);
  color: var(--color-white);
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.container {
  --h-padding: var(--space-lg);

  max-width: 1200px;
  margin: 0 auto;
  padding-left: var(--h-padding);
  padding-right: var(--h-padding);

  @media (width <= 512px) {
    --h-padding: var(--space-md);
  }

  @media (width >= 2560px) {
    --h-padding: var(--space-xl);

    max-width: 1600px;
  }
}

.btn {
  padding: var(--space-xs) var(--space-md);
  border: 2px solid var(--color-primary-100);
  border-radius: 999px;
  background-image: url("/images/noise.png");
  box-shadow:
    inset 0 1px 1px 0 var(--color-white-a4),
    inset 1px 2px 2px 0 var(--color-white-a2),
    inset 2px 4px 4px 0 var(--color-white-a2),
    inset 0 -1px 1px 0 var(--color-black-a4),
    inset -1px -2px 2px 0 var(--color-black-a2),
    inset -2px -4px 4px 0 var(--color-black-a2),
    2px 4px 4px 0 var(--color-black-a4),
    4px 8px 8px 0 var(--color-black-a2);
  color: var(--color-primary-90);
  letter-spacing: 0.02rem;
  font-size: var(--text-xxs);
  font-weight: bold;
  transition: 0.1s background-color;

  &:hover, &:focus-visible {
    transition: 0.2s background-color;
    background-color: var(--color-primary-100-a10);
  }
}
