@font-face {
  font-family: "Satisfy";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Satisfy-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/nunito-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/nunito-v20-latin-600.woff2") format("woff2");
}
