.header {
  position: relative;
  height: 84%;
}

.header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: drop-shadow(1px 2px 4px rgb(0 0 0 / 4%));
}

.header-background-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.header-background-item-a {
    background-color: var(--color-secondary-100);
    transform: skewY(10deg);
    transform-origin: right;
  }

  &.header-background-item-b {
    background-image:
      linear-gradient(
        135deg,
        hsl(202deg 82% 44%) 0%,
        hsl(206deg 79% 44%) 11%,
        hsl(209deg 78% 44%) 22%,
        hsl(213deg 75% 44%) 33%,
        hsl(217deg 73% 44%) 44%,
        hsl(221deg 70% 44%) 56%,
        hsl(225deg 68% 44%) 67%,
        hsl(229deg 66% 44%) 78%,
        hsl(233deg 64% 43%) 89%,
        hsl(237deg 61% 43%) 100%
      );
    transform: skewY(-10deg);
    transform-origin: left;
  }
}

.header-intro {
  z-index: 1;
  position: relative;
  top: 40%;
  color: var(--color-white);
  transform: translateY(-50%);
}

.header-title-intro {
  /* font-weight: normal; */
  font-size: var(--text-xxl);
  letter-spacing: -0.04rem;
}

.header-title-name {
  display: block;
  margin-top: var(--space-sm);
  margin-left: var(--space-lg);
  font-size: var(--text-xxxl);
  letter-spacing: -0.02rem;
}

.header-subtitle {
  max-width: 388px;
  margin-top: var(--space-md);
  margin-left: var(--space-sm);
  /* font-weight: normal; */
  font-size: var(--text-lg);
  line-height: 1.25;
  letter-spacing: -0.02rem;

  &::after {
    content: "";
    display: block;
    margin-top: var(--space-lg);
    margin-left: calc(-1 * var(--space-sm));
    width: 92px;
    height: 4px;
    border-radius: 999px;
    background-color: var(--color-white);

    @media (max-width: 768px) {
      margin-top: var(--space-md);
    }
  }
}

.header-links {
  display: flex;
  margin-top: var(--space-lg);

  @media (max-width: 768px) {
    margin-top: var(--space-md);
  }
}

.header-links-item:not(:last-of-type) {
  margin-right: var(--space-md);
}

.header-link {
  display: block;
  transition: 0.2s transform;

  &:hover, &:focus-visible {
    transform: translateY(-2px);
  }
}
