.projects {
  @media (max-width: 768px) {
    padding-top: var(--space-lg);
  }
}

.projects-title-container {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-xxl);

  @media (max-width: 768px) {
    margin-bottom: var(--space-xl);
  }
}

.projects-title {
  font-size: var(--text-xxl);
  text-align: center;

  &::after {
    content: "";
    display: block;
    margin: 1em auto 0 auto;
    width: 100px;
    height: 4px;
    border-radius: 999px;
    background-color: var(--color-primary-100);
  }
}

.project {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--space-xxl);

  &:nth-of-type(odd) {
    & .project-details {
      margin-right: auto;
    }

    & .project-image-link {
      order: 1;
      margin-left: var(--space-xl);
      margin-right: 0;

      @media (max-width: 936px) {
        margin-left: var(--space-lg);
      }

      @media (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  @media (max-width: 768px) {
    display: block;
    margin-bottom: var(--space-xl);
  }
}

.project-image-link {
  overflow: hidden;
  flex-shrink: 0;
  width: calc(50% + var(--space-lg));
  margin-right: var(--space-xl);
  border-radius: 8px;
  box-shadow:
    1px 2px 2px 0 rgb(0 0 0 / 2%),
    2px 4px 4px 0 rgb(0 0 0 / 4%),
    4px 8px 8px 0 rgb(0 0 0 / 8%);

  @media (max-width: 936px) {
    width: calc(50% + var(--space-md));
    margin-right: var(--space-lg);
  }

  @media (max-width: 768px) {
    display: block;
    width: 100%;
    margin-bottom: var(--space-lg);
  }
}

.project-title {
  font-size: var(--text-xxl);

  &::before {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    border-radius: 999px;
    margin-bottom: var(--space-lg);
    background-color: var(--color-primary-100);

    @media (max-width: 512px) {
      margin-bottom: var(--space-md);
    }
  }
}

.project-description {
  margin-top: var(--space-md);
  margin-bottom: var(--space-lg);
  font-size: var(--text-lg);
  line-height: 1.5;
}

.project-links {
  display: flex;
}

.project-link {
  display: flex;
  align-items: center;
  margin-right: var(--space-md);
}

.project-link-icon {
  margin-right: var(--space-sm);
}
