.about {
    padding: 20px 20%;
    background-image: url("../assets/images/about.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    text-align: center;

    .description {
        text-align: left;
    }
}
