*, *:before, *:after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: darken($light-color, 8%);

    @include for-phone-only {
        font-size: 12px;
    }
    @include for-tablet-landscape-up {
        font-size: 14px;
    }
    @include for-desktop-up {
        font-size: 16px;
    }
    @include for-big-desktop-up {
        font-size: 24px;
    }
}
a {
    text-decoration: none;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $main-font-family;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.btn {
    padding: 4px 10px;
    border: 0;
    background-color: $brand-color;
    color: $light-color;
    font-family: $main-font-family;
    font-size: 1em;
    transition: 0.2s background-color;

    &:hover {
        background-color: darken($brand-color, 4%);
    }
    &:active {
        background-color: darken($brand-color, 12%);
    }
}
.btn-inv {
    background-color: $light-color;
    color: $brand-color;

    &:hover {
        background-color: darken($light-color, 8%);
    }
    &:active {
        background-color: darken($light-color, 16%);
    }
}
