*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: $light-color;
    font-family: $main-font-family;
    color: $dark-color;
    font-size: 18px;

    @include breakpoint-smallest {
        font-size: 16px;
    }
}

h1, h2, h3, h4, {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1;
}

svg {
    width: 24px;
    height: 24px;
    fill: $light-color;
    fill: currentColor;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.block-title {
    font-size: 2em;
    text-align: center;

    &::after {
        content: "";
        display: block;
        margin: 8px auto 0 auto;
        width: 120px;
        height: 2px;
        background-color: $main-color;
    }

    @include breakpoint-smallest {
        margin-bottom: 1em;
    }
}
