*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: $light-color;
    font-family: $main-font-family;
    font-size: 18px;

    @include breakpoint-smallest {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.block-title {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.6em;
    color: $dark-color;
    text-align: center;

    &::after {
        content: "";
        display: block;
        margin: 8px auto;
        width: 100px;
        height: 4px;
        background-color: $main-color;
    }
}

.contact-items {
    display: flex;
    justify-content: center;
    padding: 2em 1em 4em 1em;
    text-align: center;
}

.contact-item {
    display: inline-block;
    margin: 0 16px;
}

.contact-link {
    color: $dark-color;
    transition: color 0.2s;

    &:hover {
        color: $main-color;
    }
}
