.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84%;
}

.hero {
    text-align: center;
    color: $light-color;
}

.name {
    letter-spacing: 0.2em;
}

.name, .front {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid $light-color;
    line-height: 1;
}

.first-name {
    font-size: 1.8em;

    @include breakpoint-smallest {
        font-size: 1.6em;
    }
}

.last-name {
    font-size: 2em;

    @include breakpoint-smallest {
        font-size: 1.8em;
    }
}

.front {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 1em;
    letter-spacing: 0.22em;
    font-weight: normal;

    @include breakpoint-smallest {
        letter-spacing: 0.18em;
    }
}

.header-links {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.header-link-container {
    display: inline-block;
}

.header-link {
    display: block;
    margin: 0 10px;
    color: $light-color;
    font-size: 0.875em;

    &:hover {
        color: #fff;
    }
}
