.header {
    position: relative;
    height: 100%;
    background-color: $dark-color;
}

.header-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 400px;
    transform: translate(-50%, -50%);
    color: $light-color;

    h1 {
        margin-bottom: 16px;
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 8px;
    }

    h3 {
        font-size: 1.4em;
    }

    @include breakpoint-smallest {
        min-width: 280px;

        h1 {
            font-size: 3.4em;
        }

        h2 {
            font-size: 1.6em;
        }

        h3 {
            font-size: 1.1em;
        }
    }
}

.header-links {
    display: flex;
    margin-top: 8px;
}

.header-link {
    display: block;
    padding: 2px;
    margin-right: 8px;
    color: $light-color;
    transition: color 0.2s;

    &:hover {
        color: $main-color;
    }
}
