.header {
    position: relative;
    height: 84%;
    overflow: hidden;
}

.hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 14em;
    text-align: center;
    color: $light-color;
}

.name {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.first-name, .last-name {
    line-height: 1;
}

.first-name {
    font-size: 1.6em;
}

.last-name {
    font-size: 1.8em;
}

.double-line {
    width: 20.4em;
    height: 8px;
    margin: 0 auto;
    border-top: solid 1px $light-color;
    border-bottom: solid 1px $light-color;
}

.front {
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 0;
    padding-bottom: 6px;
    border-bottom: 1px solid $light-color;
    font-size: 1.1em;
    letter-spacing: 0.18em;
}

.header-links {
    display: flex;
    justify-content: center;
}

.header-link {
    display: inline-block;
    margin-top: 4px;
}

.header-btn {
    display: block;
    padding: 4px 10px;
    color: $light-color;

    &:hover {
        color: #fff;
    }

    i {
        font-size: 1.4em;
    }

    span {
        display: block;
    }
}
