@media screen and (min-width: 1400px) {
   
    .header { background-image: url(../images/hero.1400.jpg); }
    
    .first-name { font-size: 84px; }

    .last-name { font-size: 90px; }
    
    .front { font-size: 24px; }
    
    .nav-item {
        line-height: 3;
        font-size: 21px;
    }
}