@media screen and (max-width: 540px) {
    
    .header { background-image: url(../images/header.540.jpg); }
    
    .name { letter-spacing: 6px; }
    
    .first-name { font-size: 48px; }

    .last-name { font-size: 54px; }

    .line { width: 320px; }
    
    .front { font-size: 14px; }
    
    .portfolio-item { padding: 20px; }
    
    .work-title { font-size: 28px; }
    
    .about { padding: 20px 6%; }
    
    .contact {
        padding: 20px 0;
        text-align: center;
    }
}
