@media screen and (max-width: 768px) {
    .header {
        background-image: url("../assets/images/header.768.jpg");
    }
    .btn:hover {
        background-color: $brand-color;
    }
    .btn-inv:hover {
        background-color: $light-color;
    }
    .nav-link {
        &:hover {
            color: darken($light-color, 36%);
        }
        &:active {
            color: $dark-color;
        }
    }
    .project-left-side, .project-right-side {
        float: none;
        width: 100%;
    }
    .project-description-container {
        margin-top: 20px;
    }
    .description {
        margin: 10px 0;
    }
    .about {
        padding: 20px;
        background-image: url("../assets/images/about.1024.jpg");
    }
    .contact {
        text-align: center;
    }
}
