@media screen and (max-width: 360px) {
    .header {
        background-image: url("../assets/images/header.360.jpg");
    }
    .line {
        width: 280px;
    }
    .project {
        padding: 10px;
    }
    .project-description-container {
        margin-top: 10px;
    }
    .description {
        margin: 10px 0;
    }
	.about {
        padding: 20px 10px;
        background-image: url("../assets/images/about.540.jpg");
    }
}
