@media screen and (max-width: 1024px) {

    .header { background-image: url(../images/header.1024.jpeg); }
    
    .description-container { width: 44%; }
    
    .work-title { font-size: 32px; }
    
    .about { padding: 20px 20%; }
}
