@media screen and (max-width: 768px) {
    .header {
        background-image: url("../assets/images/header.768.jpg");
    }
    .btn:hover {
        background-color: $brand-color;
    }
    .btn-inv:hover {
        background-color: $light-color;
    }
    .project-left-side,
    .project-right-side {
        float: none;
    }
    .project-image,
    .project-description-container {
        width: 100%;
    }
    .project-description-container {
        margin-top: 1.25em;
    }
}
