@media screen and (max-width: 768px) {
    .header {
        background-image: url(../assets/images/header.768.jpg);
    }
    .name {
        letter-spacing: 6px;
    }
    .line {
        width: 360px;
    }
    .description-container {
        margin-top: 20px;
    }
    .description {
        margin: 10px 0;
    }
    .work-btn-container {
        margin-top: 10px;
    }
    .btn:hover {
        background-color: $brand-color;
    }
    .btn-inv {
        &:hover { background-color: $light-color; }
    }
    .nav-link {
        &:hover { color: darken($light-color, 36%); }
        &:active { color: $dark-color; }
    }
    .portfolio-item:nth-of-type(odd) .work-image {
        float: none;
        margin-right: 0;
    }
    .portfolio-item, .portfolio-item:nth-of-type(even) {
        .description-container,
        .work-image {
            display: block;
            width: 100%;
        }
    }
    .about {
        padding: 20px 16%;
        background-image: url("../assets/images/about.1024.jpg");
    }
}
