@media screen and (max-width: 540px) {
    body {
        font-size: 12px;
    }
    .header {
        background-image: url(../assets/images/header.540.jpg);
    }
    .line {
        width: 320px;
    }
    .about {
        padding: 20px 6%;
    }
    .contact {
        padding: 20px 0;
        text-align: center;
    }
}
