.project {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4em 2.4em;

    @include for-tablet-landscape-down {
        flex-direction: column;
    }

    &:nth-of-type(odd) {
        background-color: $light-color;

        @include for-tablet-landscape-up {
            .project-image {
                order: 1;
            }
        }
    }
}
.project-image {
    width: 58%;
    border: 1px solid #aaa;
}
.project-description-container {
    width: 38%;
    color: $dark-color;

    @include for-tablet-landscape-down {
        margin-top: 1.25em;
    }
}
.project-image,
.project-description-container {
    @include for-tablet-landscape-down {
        width: 100%;
    }
}
.project-title {
    font-size: 2em;
}
.description {
    margin: 1.25em 0;
    font-size: 1.2em;
}
