.projects {
    margin-top: -60px;
}
.project {
    padding: 4em 2.4em;
    overflow: hidden;

    &:nth-of-type(even) {
        background-color: darken($light-color, 8%);
    }
    &:nth-of-type(odd) {
        padding-top: 6em;
        padding-bottom: 6em;
        background-color: $light-color;
        clip-path: polygon(0 6%, 100% 0, 100% 96%, 0 100%);
    }
}
.project-left-side {
    float: left;
}
.project-right-side {
    float: right;
}
.project-image {
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
}
.project-description-container {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    color: $dark-color;
}
.project-title {
    font-size: 2em;
}
.description {
    margin: 1.25em 0;
    font-size: 1.2em;
}
