.work {
    margin-top: -48px;
    padding-top: 48px;
}
.portfolio-item {
    overflow: hidden;
    padding: 40px;

    &:nth-of-type(even) {
        background-color: darken($light-color, 8%);

        .work-image { width: calc(50% - 26px); }
        .description-container { width: 50%; }
    }
    &:nth-of-type(odd) {
        .work-image {
            float: right;
            margin-right: 0;
        }
    }
}
.work-image {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    margin-right: 20px;
}
.description-container {
    display: inline-block;
    width: calc(50% - 26px);
    color: $dark-color;
}
.work-title {
    font-size: 2em;
}
.description {
    margin: 20px 0;
    font-size: 1.2em;
}
.work-btn-container {
    margin-top: 20px;
}
