.work {
    margin-top: -48px;
    padding-top: 48px;
}
.portfolio-item {
    overflow: hidden;
    margin: 0 auto;
    padding: 40px;

    &:nth-of-type(even) {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: #ddd;
    }
    &:nth-of-type(odd) {
        .work-image {
            float: right;
            margin-left: 20px;
            margin-right: 0;
            box-shadow: 4px 4px 2px rgba(0, 0, 0, .4);
        }

        .skill { color: #f2f2f2; }
    }
}
.work-image {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    margin-right: 20px;
    box-shadow: -4px 4px 2px rgba(0, 0, 0, .4);
}
.description-container {
    display: inline-block;
    width: 40%;
    color: #333;
}
.work-title {
    @extend %secion-title;

    display: inline-block;
    padding-bottom: 2px;
    font-size: 36px;
    color: #333;
    line-height: 1;

    border-bottom: 2px solid $main-color;

    &:hover { color: $main-color; }
}

.description { margin: 20px 0; }

.skill-title {
    @extend %secion-title;

    padding-bottom: 1px;
    border-bottom: 2px solid $main-color;
}
.skills {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.skill {
    @extend %tag;

    display: inline-block;
    margin-top: 6px;
}
