*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: $dark-color;
    font-family: $main-font-family;
    color: $light-color;
    font-size: 18px;
    text-rendering: optimizeLegibility;

    @include breakpoint-smallest {
        font-size: 16px;
    }
}

h1, h2, h3, h4, {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    letter-spacing: 2px;
}

svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: currentColor;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2.4em;

    @include breakpoint-smallest {
        padding: 1em;
    }
}

.block-title-container {
    display: flex;
    justify-content: center;

    @include breakpoint-smallest {
        margin-bottom: 1.4em;
    }
}

.block-title {
    font-size: 1.6em;

    &::after {
        content: "";
        display: block;
        margin: 1em auto 0 auto;
        width: 80%;
        height: 2px;
        background-color: $main-color;
    }
}

.popup {
    position: fixed;
    bottom: 8px;
    right: 8px;
    opacity: 0;
    visibility: hidden;
    padding: 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: $main-color;
    color: $dark-color;
    font-size: 0.875em;
    transform: translateX(calc(100% + 10px));
    transition: 0.2s opacity, 0.2s visibility, 0.2s transform;

    &.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}
