.projects {
    padding-bottom: 2.4em;
    margin-top: -2em;

    @include breakpoint-small {
        margin-top: 0;
    }
}

.project {
    display: flex;
    align-items: flex-start;
    padding-top: 2.4em;

    &:nth-of-type(odd) .project-image {
        order: 1;
        margin-left: 2.4em;
        margin-right: 0;

        @include breakpoint-small {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include breakpoint-small {
        display: block;
    }
}

.project-image {
    width: calc(50% + 1.2em);
    margin-left: 0;
    margin-right: 2.4em;

    @include breakpoint-small {
        display: block;
        width: 100%;
        margin: 0 0 1.2em 0;
    }
}

.project-title {
    font-size: 1.4em;
}

.description {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 1em;
    line-height: 1.5;
}

.project-link {
    display: inline-block;
    padding: 6px 16px;
    margin-right: 8px;
    border: 1px solid $main-color;
    background-color: transparent;
    font-size: 0.875em;
    color: $main-color;
    letter-spacing: 1px;
    transition: background-color 0.1s, color 0.1s;

    &:hover {
        background-color: $main-color;
        color: $dark-color;
    }
}
